<main class="p-5">
    <div class="card p-5">
        <p class="one">
            Hello World!
        </p>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="two">
            Hello World!
        </p>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="three">
            Hello World!
        </p>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="four">
            Hello World!
        </p>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="five">
            Hello World!
        </p>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="six">
            Hello World!
        </p>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="seven">
            Hello World!
        </p>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="eight">
            Hello World!
        </p>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="nine">
            Hello World!
        </p>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="ten">
            Hello World!
        </p>
        <span>Test</span>
        <span>Test</span>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="eleven">
            Hello World!
        </p>
        <span>Test</span>
        <span>Test</span>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="twelve">
            Hello World!
        </p>
        <span>Test test test</span>
        <span>Test</span>
        <pre>Test                   tabs</pre>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="thirteen">
            Hello World!
        </p>
        <span>Test test test</span>
        <span>Test</span>
    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="fourteen">
            Hello World!
        </p>

        <p class="fourteen p-b">
            Hello World!
        </p>

    </div>
</main>

<main class="p-5">
    <div class="card p-5">
        <p class="fifteen">
            Hello World!
        </p>
        <span>Test test test</span>
        <span class="font">Test</span>
    </div>
</main>

{{!-- Урок відображення блоків --}}

<main class="p-5">
    <div class="card p-5">
        <p hidden class="sixteen">
            Hello World!
        </p>
        <span>Test test test</span>
        <span class="font">Test</span>
    </div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    <div style="margin: 50px 0px 50px 100px; background: gray;">

        <span>Inline</span>
        <span>Inline</span>
        <span>Inline</span>
        <span class="block">Inline іавпруікркоіпрірке</span>
    </div>

    <div class="mt-5" style="margin: 10px 50px 100px 200px">
        <span class="inlineBlock">Inline іавпруікркоіпрірке</span>
        <span>Inline</span>
        <span>Inline</span>
        <span>Inline</span>
    </div>

    <div class="seventeen" style="padding: 50px 0px 50px 100px; background: gray;">

        <span>Inline</span>
        <span>Inline</span>
        <span>Inline</span>
        <span class="block">Inline іавпруікркоіпрірке</span>
    </div>

    {{!-- Робота з рамками і тінями --}}

    <div class="eighteen">
        <div class="card mt-5">

            <span>Inline</span>
            <span>Inline</span>
            <span>Inline</span>
            <span class="block">Inline іавпруікркоіпрірке</span>
        </div>
    </div>

    <div class="nineteen">
        <div class="card mt-5">

            <span>Inline</span>
            <span>Inline</span>
            <span>Inline</span>
            <span class="block">Inline іавпруікркоіпрірке</span>
        </div>
    </div>
</main>