<div class="card p-5 m-5 card-dark">
    <a class="link" href="https://www.gooewfgwegwgle.com.ua/">Click me</a>
</div>

<div lang="fr" id="anchor-test" class="card p-5 m-5 card-dark">
    Якір
</div>

<div lang="en" id="anchor-test" class="card p-5 m-5 card-dark">
    <input>
</div>

<div lang="en" id="anchor-test" class="card p-5 m-5 card-dark">
    <input>
    <span>Hello!</span>
</div>

<div class="p-5 m-5 card-dark">
    <button>Test button</button>
    <button disabled>Disabled button</button>
</div>

<div class="p-5 m-5 card-dark">
    <input class="inp">
</div>

<div class="p-5 m-5 card-dark">
    <input class="inp" readonly>
</div>

<div class="p-5 m-5 card-dark">
    <input class="inp" readonly>
    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second checkbox</span>
        </div>

    </div>
</div>

<div class="p-5 m-5 card-dark">
    <input class="valid" type="email" required>
</div>

<div class="p-5 m-5 card-dark">
    <input class="valid" type="email">
</div>

<div class="p-5 m-5 card-dark">

    <div>
        <input class="valid" type="email" required placeholder="test">
        <span>Test text</span>
    </div>
    <div class="mt-5"><input class="number" min="10" max="20" required type="number"></div>
</div>