<div class="card p-5 m-5 card-dark">
    <input class="input-dark" required>
    <input class="input-dark">
    <input class="input-dark" type="number">
</div>
<div class="card p-5 m-5 card-dark">
    <img alt="image small card 200px" class="small-img" src="https://picsum.photos/200/300" height="200px">
    <a href="https://picsum.photos/200/300" rel="external">Link</a>
    <button class="btn-primary before-after">Click me</button>
    <button class="btn btn-primary mt-5 mb-5">Click me</button>
    <a class="btn btn-light before-after" href="https://picsum.photos/200/300" rel="external">Link</a>
    <a class="small mt-5 btn btn-light" href="https://picsum.photos/200/300" rel="external">Link</a>
    <a class="small mt-5 btn btn-light big" href="https://picsum.photos/200/300" rel="external">Link</a>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="big-text">
        This is text about info big text hjwojfbwq<br>
        hwjbfjwk
    </p>
</div>

<div class="card p-5 m-5 card-dark">
    <input class="input-dark p-5" required placeholder="This is text">
    <input class="input-dark mt-3 mb-3">
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark">
    <p class="big-text">
        This is text about info big text hjwojfbwq<br>
        hwjbfjwk
    </p>
</div>