<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>

    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <div class="item">Test</div>
</div>

<div class="card p-5 m-5 card-dark">
    <input>
    <div class="item">Test</div>
</div>

<div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <p class="item">Second</p>
    <article class="item">Third</article>
    <b class="item">Fourth</b>
    <p class="item">Fifth</p>

</div>

<div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <p class="item">Second</p>
    <strong class="item">Test strong</strong>
    <article class="item">Third</article>
    <b class="item">Fourth</b>
    <p class="item">Fifth</p>

</div>

<div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <p>NOT</p>
    <strong class="item">Test strong</strong>
    <article class="item">Third</article>
    <b class="item">Fourth</b>
    <p class="item">Fifth</p>

</div>

<div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <p class="item">NOT</p>
    <strong class="item">Test strong</strong>
    <article class="item">Third</article>
    <b class="item">Fourth</b>
    <p class="item">Fifth</p>

</div>

<div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <p class="item"></p>
    <strong class="item">Test strong</strong>
    <article class="item">Third</article>
    <b class="item">Fourth</b>
    <p class="item">Fifth</p>

</div>